
*{
  font-family: 'Merriweather', serif;
  /* box-sizing: border-box; */
}
html{
  color: #252422;
}
body{
  background:#3F4739;
}
p {
  padding-bottom: 4px;
}
.header{
  background:#3F4739;
  color: #E1E5EE;
  text-align: center;
  padding:15px 10px;
  margin:-8px -10px 0 -8px;
}
.container{
  width: 95vw;
  margin: auto;
  background-color:#D7D9B1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.signup{
  padding:10px;
  margin: 0 5px;
  text-align: center;
  border-bottom: solid 3px black;
}
.contact input, textarea, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.contact li{
  margin: 10px;
}
.newsletter{
  padding: 12px;
}
ul{
  list-style-type: none;
  padding-left: 0;
}
.btn{
  padding:20px 50px;
  background-color: #B76D68;
  color: #E1E5EE;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  margin: auto;
}
.btn:hover{
  font-weight:bold;
}
fieldset{
  border:none;
}
legend{
  font-size: 1.3rem;
  margin: 5px;
  padding:5px;
  border-top: solid 1px black;
}
