
*{
  font-family: 'Merriweather', serif;

}
html{
  color: #3d405b;
}
body{
  background:#3d405b;
}
p {
  padding-bottom: 4px;
}
.header{
  background:#3d405b;
  color: #E8DAB2;
  text-align: center;
  padding:15px 10px;
  margin:-8px -10px 0 -8px;
}

.container{
  background-color:#E8DAB2;
  border-radius: 10px 10px 0 0;
  margin: 0 -10px -10px;
  display: flex;
  flex-direction: column;
}
label{
  padding: 10px 0;
  margin: 10px 0;
}
.signup{
  padding:10px;
  margin: 0 5px;
  text-align: center;
  border-bottom: solid 3px black;
}
.contact input, textarea, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.contact li{
  margin: 10px;
}
.newsletter{
  padding: 12px;
}
.newsletter ul{
    line-height: 200%;
}
ul{
  list-style-type: none;
  padding-left: 0;
}
.btn-wrapper{
  display:flex;
  flex-direction:column;
  align-items: center;
  padding-bottom: 30px;
}
.btn{
  width: 90vw;
  padding:20px 50px;
  background-color: #e07a5f;
  color: #f4f1de;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  bottom: 0px;
}
.btn:hover{
  font-weight:bold;
}
.copyright{
  font-style:italic;
}
fieldset{
  border:none;
  box-sizing: border-box;
}
legend{
  font-size: 1.3rem;
  margin: 5px;
  padding:15px 5px ;
  border-top: solid 1px black;
}

@media (min-width:768px) {
  .container .form .inputfield{
    display: flex;
    align-items: center;
  }
  .container{
    margin:auto;
    flex-direction: column;
    flex-wrap:wrap;
    border-radius: 10px 10px 10px 10px;
  }
  .inputfield{
    flex-direction:row;
    width: auto;
  }
    .signup{
      box-sizing:border-box;
    }

}
